<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="mycss.css">
<script src="js.js"></script>
	<title>Snake & Leader</title>
</head>
<body id="body">
<div id="container">
<table>
	<tr>
	<td id="td100">100</td>
	<td id="td99">99</td>
	<td id="td98">98</td>
	<td id="td97">97</td>
	<td id="td96">96</td>
	<td id="td95">95</td>
	<td id="td94">94</td>
	<td id="td93">93</td>
	<td id="td92">92</td>
	<td id="td91"> 91</td>
	</tr>
	<tr>
	<td id="td81">81</td>
	<td id="td82">82</td>
	<td id="td83">83</td>
	<td id="td84">84</td>
	<td id="td85">85</td>
	<td id="td86">86</td>
	<td id="td87">87</td>
	<td id="td88">88</td>
	<td id="td89">89</td>
	<td id="td90">90</td>
	</tr>

	<tr>
	<td id="td80">80</td>
	<td id="td79">79</td>
	<td id="td78">78</td>
	<td id="td77">77</td>
	<td id="td76">76</td>
	<td id="td75">75</td>
	<td id="td74">74</td>
	<td id="td73">73</td>
	<td id="td72">72</td>
	<td id="td71">71</td>
	</tr>
	<tr>
	<td id="td61">61</td>
	<td id="td62">62</td>
	<td id="td63">63</td>
	<td id="td64">64</td>
	<td id="td65">65</td>
	<td id="td66">66</td>
	<td id="td67">67</td>
	<td id="td68">68</td>
	<td id="td69">69</td>
	<td id="td70">70</td>
	</tr>
	<tr>
	<td id="td60">60</td>
	<td id="td59">59</td>
	<td id="td58">58</td>
	<td id="td57">57</td>
	<td id="td56">56</td>
	<td id="td55">55</td>
	<td id="td54">54</td>
	<td id="td53">53</td>
	<td id="td52">52</td>
	<td id="td51">51</td>
	</tr>
	<tr>
	<td id="td41">41</td>
	<td id="td42">42</td>
	<td id="td43">43</td>
	<td id="td44">44</td>
	<td id="td45">45</td>
	<td id="td46">46</td>
	<td id="td47">47</td>
	<td id="td48">48</td>
	<td id="td49">49</td>
	<td id="td50">50</td>
	</tr>
	<tr>
	<td id="td40">40</td>
	<td id="td39">39</td>
	<td id="td38">38</td>
	<td id="td37">37</td>
	<td id="td36">36</td>
	<td id="td35">35</td>
	<td id="td34">34</td>
	<td id="td33">33</td>
	<td id="td32">32</td>
	<td id="td31">31</td>
	</tr>
	<tr>
	<td id="td21">21</td>
	<td id="td22">22</td>
	<td id="td23">23</td>
	<td id="td24">24</td>
	<td id="td25">25</td>
	<td id="td26">26</td>
	<td id="td27">27</td>
	<td id="td28">28</td>
	<td id="td29">29</td>
	<td id="td30">30</td>
	</tr>
	<tr>
	<td id="td20">20</td>
	<td id="td19">19</td>
	<td id="td18">18</td>
	<td id="td17">17</td>
	<td id="td16">16</td>
	<td id="td15">15</td>
	<td id="td14">14</td>
	<td id="td13">13</td>
	<td id="td12">12</td>
	<td id="td11">11</td>
	</tr>
	<tr>
	<td id='td1'>1</td>
	<td id="td2">2</td> 
	<td id="td3">3</td>
	<td id="td4">4</td>
	<td id="td5">5</td>
	<td id="td6">6</td>
	<td id="td7">7</td>
	<td id="td8">8</td>
	<td id="td9">9</td>
	<td id="td10">10</td>
	</tr>
</table>
<div id="s1">
<img src="s1.png">
</div>
<div id="s2">
<img src="S2.png">
</div>
<div id="l1">
<img src="l1.jpg">
</div>
<div id="s3">
<img src="s3.jpeg">
</div>
</div>	

<div id="bottomarea">

<button id='b1'onclick="main()" onmouseup="myfunction2()" onmousedown="myfunction1()">PLAYER 1</button>
<img id='p3'>
<img id='p1'src="1.jpg">
<img id='p2'src="2.jpg">

</div>
</body>
</html>














